In [92]:
import numpy as np
import pandas as pd
import time
import datetime
import re
from dateutil import parser

In [3]:
data = pd.read_csv('historical.csv')

In [48]:
data['Texts'][1]

'The Uber backup driver was watching "The Voice" on her phone before the self-driving vehicle struck and killed a pedestrian in Arizona'

In [68]:
fb_data = data.loc[data['Texts'].str.contains('(F|f)acebook', na = False)]

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\envs\py27\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [111]:
fb_data.head(5)

,IDs,Texts,Dates,Sentiment
8,1009928691760197633,Facebook's Sheryl Sandberg is addressing a gat...,Thu Jun 21 22:38:58 +0000 2018,0.0000
26,1009823451421560832,How do you keep your cryptocurrencies safe? We...,Thu Jun 21 15:40:47 +0000 2018,0.5267
30,1009776363769946112,Facebook is turning to machine-learning to amp...,Thu Jun 21 12:33:40 +0000 2018,-0.2732
62,1009152294825484291,Cambridge Analytica researcher disputes Facebo...,Tue Jun 19 19:13:50 +0000 2018,-0.5423
66,1009129860298674176,Facebook misses another Senate deadline on pri...,Tue Jun 19 17:44:42 +0000 2018,-0.2263

In [71]:
fb_filtered = fb_data[['Dates','Sentiment']]

In [91]:
now = datetime.datetime.now()
month = datetime.timedelta(days = 30)
month_ago = now - month
print month_ago ,'\n'
print fb_data['Dates'].head()

2018-05-24 16:19:55.853000

8     Thu Jun 21 22:38:58 +0000 2018
26    Thu Jun 21 15:40:47 +0000 2018
30    Thu Jun 21 12:33:40 +0000 2018
62    Tue Jun 19 19:13:50 +0000 2018
66    Tue Jun 19 17:44:42 +0000 2018
Name: Dates, dtype: object

In [94]:
to_datetime_data = [parser.parse(date) for date in fb_data['Dates']]

In [96]:
fb_filtered['Datetime'] = to_datetime_data

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\envs\py27\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
fb_filtered.head(3)

                             Dates  Sentiment                  Datetime
8   Thu Jun 21 22:38:58 +0000 2018     0.0000 2018-06-21 22:38:58+00:00
26  Thu Jun 21 15:40:47 +0000 2018     0.5267 2018-06-21 15:40:47+00:00
30  Thu Jun 21 12:33:40 +0000 2018    -0.2732 2018-06-21 12:33:40+00:00

In [99]:
current = fb_filtered.loc[fb_filtered['Datetime'] < month_ago]

In [101]:
sorted_and_filtered = current.sort_values(by = 'Datetime')

In [103]:
sorted_and_filtered.head(5)

                               Dates  Sentiment                  Datetime
8994  Tue Jun 27 13:02:00 +0000 2017     0.2023 2017-06-27 13:02:00+00:00
8781  Wed Jul 26 18:38:35 +0000 2017     0.0000 2017-07-26 18:38:35+00:00
8778  Wed Jul 26 21:06:09 +0000 2017     0.5106 2017-07-26 21:06:09+00:00
8724  Wed Aug 02 16:56:36 +0000 2017     0.4404 2017-08-02 16:56:36+00:00
8718  Wed Aug 02 19:00:15 +0000 2017     0.0000 2017-08-02 19:00:15+00:00

In [107]:
slice = sorted_and_filtered.iloc[-10:]

In [110]:
print slice

                                Dates  Sentiment                  Datetime
645    Wed May 23 20:34:05 +0000 2018     0.0000 2018-05-23 20:34:05+00:00
631    Thu May 24 01:19:01 +0000 2018     0.6705 2018-05-24 01:19:01+00:00
627    Thu May 24 02:30:12 +0000 2018     0.1027 2018-05-24 02:30:12+00:00
14249  Thu May 24 04:01:32 +0000 2018    -0.1280 2018-05-24 04:01:32+00:00
14248  Thu May 24 04:22:00 +0000 2018     0.3818 2018-05-24 04:22:00+00:00
610    Thu May 24 10:17:19 +0000 2018     0.0000 2018-05-24 10:17:19+00:00
15839  Thu May 24 11:42:06 +0000 2018     0.0000 2018-05-24 11:42:06+00:00
15833  Thu May 24 13:29:29 +0000 2018     0.0000 2018-05-24 13:29:29+00:00
603    Thu May 24 14:47:28 +0000 2018     0.4767 2018-05-24 14:47:28+00:00
15826  Thu May 24 15:49:47 +0000 2018     0.0000 2018-05-24 15:49:47+00:00

In [108]:
sum = sum(slice['Sentiment'])

In [109]:
print(sum)

1.5037